body{
    background-color:rgb(216, 217, 226));
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

header{
    background-color: rgba(82, 102, 116, 0.6);
    width: 63%;
    display: inline-block;
    height: 5em;
    border-radius: 20px 20px 0 0;
    margin-top: 0.5em;
}

header .logo-black{
    width: 6em;
    float: left;
    margin: .8em 0 0 4em ;
}

header h1{
    display: inline-block;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    color: white;
    font-size: 2em;
}

header nav{
    float: right;
    line-height: 1em;

}

header nav li{
    display: inline-block;
}

header nav li a{
    padding: 1.5em;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

header nav li a:hover{
    color: rgb(243, 201, 17);
    text-shadow: 4px 4px 4px rgb(49, 27, 2);
}

.fotos{
    width: 65%;
    margin: 0 auto;
    width: 63%;
    box-sizing: content-box;
}

.lista-fotos{
    margin: 0;
    padding: 0;
}

.lista-fotos li{
    display: inline-block;
    width: 170px;
    padding: 5px;
}

.fotos-principal{
    vertical-align: top;
    width: 100%;
    top: auto;
    border-radius: 8px;
    margin: 0.8em;
}

.fotos-principal:hover{
    opacity: 85%;
}

#about, #contact{
    background-color: rgba(95, 108, 121, 0.6);
    width: 60%;
    margin: 20px auto;
    padding: 35px;
}

#about h2, #contact h2{
    text-align: center;
    font-size: 32px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    padding: 10px;
    color: white;
    margin: 0 0 .6em 0;    
}

#about p, #contact p{
    text-align: center;
    font-size: 21px;
    text-shadow: 4px 4px 6px rgb(66, 66, 66);
    padding: 10px;
    color: white;
    margin: 0;
    font-stretch: semi-condensed;
}

footer{
    background-image: url(bgh.jpg);
    border-radius: 0 0 20px 20px;
    margin: 0.8em;
    width: 64%;
    display: inline-block;
}

footer .logo-white{
    width: 6%;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

